@import url('https://fonts.cdnfonts.com/css/offbit-trial');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Light-BF64eeac18175cf.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Book-BF64eeac17ce110.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Medium-BF64eeac18163be.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-SemiBold-BF64eeac17f0443.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Bold-BF64eeac17f1b7f.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/overused-grotesk/OverusedGrotesk-Black-BF64eeac181b256.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@import "tailwindcss";
@theme{
    --color-darkgrey: #171612;
    --color-background:#44423C;
    --color-card:#292824;
    --color-text: #F5EFDD;
    --color-muted: #726f66;
    --color-light: #FAF7EE;
    --color-yellow:#FFED4A;
    --color-blue: #3178C6;
    --color-blurple: #3D57FF;
    --color-red: #FF4539;
    --font-offbit:"OffBit Trial", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-noto: "Noto Sans", sans-serif;
    --font-ubuntu: "Ubuntu", sans-serif;
    --font-grotesk:"Overused Grotesk", system-ui, sans-serif;
    --breakpoint-xs:360px;
}

::-webkit-scrollbar {
    display: none;
  }
html{
    background-color:#44423C ;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

* {
  -ms-overflow-style: none;
}


/* Custom CSS to force bigger contribution squares */
.github-contributions-grid {
  gap: 6px !important; /* Increase gap between squares */
}

.github-contributions-grid rect {
  width: 25px !important; /* Increase square size */
  height: 25px !important;
  rx: 3px; /* Rounds the corners for a modern look */
}